Comprehend/Comprehend.xcodeproj/project.xcworkspace/xcuserdata/sheyne.xcuserdatad/UserInterfaceState.xcuserstate
Comprehend/Comprehend.xcodeproj/project.xcworkspace/xcuserdata/sheyne.xcuserdatad/UserInterfaceState.xcuserstate
Comprehend/Comprehend.xcodeproj/xcuserdata/sheyne.xcuserdatad/xcdebugger/
*.pyc
main.xcscheme
